*NavMeshGenerator/Library/metadata
*NavMeshGenerator/Library/ShaderCache
*NavMeshGenerator/Library/UnityAssemblies
*NavMeshGenerator/Library/cache
*NavMeshGenerator/Library/previews
*NavMeshGenerator/Library/ScriptAssemblies
*NavMeshGenerator/Library/assetDatabase3
*NavMeshGenerator/Library/AssetImportState
*NavMeshGenerator/Library/assetservercachev3
*NavMeshGenerator/Library/AssetServerCacheV3
*NavMeshGenerator/Library/AssetVersioning.db
*NavMeshGenerator/Library/AudioManager.asset
*NavMeshGenerator/Library/BuildPlayer.prefs
*NavMeshGenerator/Library/BuildSettings.asset
*NavMeshGenerator/Library/DynamicsManager.asset
*NavMeshGenerator/Library/EditorSettings.asset
*NavMeshGenerator/Library/EditorUserBuildSettings.asset
*NavMeshGenerator/Library/expandedItems
*NavMeshGenerator/Library/FailedAssetImports.txt
*NavMeshGenerator/Library/guidmapper
*NavMeshGenerator/Library/InspectorExpandedItems.asset
*NavMeshGenerator/Library/MonoManager.asset
*NavMeshGenerator/Library/NetworkManager.asset
*NavMeshGenerator/Library/ScriptMapper
*NavMeshGenerator/Library/unity default resources
*NavMeshGenerator/Library/unity editor resources

*.meta
*.log
*.pch
*.bin
*.obj
*.Temp
*.suo
*.user
*.pidb
*.userprefs
